@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
}

#animate-svg svg {
  stroke-width: 2px;
  width: 40vh;
  height: 55vh;
  margin-left: 0%;

}

#animate-svg{
  display: flex;
  justify-content: center;
}

.btn-play{
  background-color: #FF1313;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border : none;
   animation: pulse 1500ms infinite;
  cursor: pointer;
  box-shadow: 0.19em 0.19em  0.19em   #ff5858;
}

.btn-play:hover{
  transform: translateY(-30%)  scale(1.1);
}
@keyframes pulse {
  0%{
    transform: scale(0.7);
  }
  50%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }

}

@keyframes text-svg {

  0%{
    width: 70%;
    margin-left: -100%;
  }
  
  100%{
    width: 100%;
    margin-left: 0%;
  }
}
#text-svg{
  animation-duration: 2.5s, 2s, 1.5s;
  animation-name: text-svg;

}
.flex{
  display: flex;
}
.justify-content-start{
  justify-content: flex-start;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-evenly{
  justify-content: space-evenly;
}
.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

#triangulo
{
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
          clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 10 0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  animation: pulse 1500ms infinite;
}
